@import './base.css';
@import "./colors.scss";

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

a {
  /* disable standard link rendering */
  text-decoration: none;

  color: $text_color;
  transition: 0.4s;

  &:hover {
    background-color: $background_dark_lighter;
  }
}

svg {
  width: 20px;
  height: 20px;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

// Scrollbar
// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: $scrollbar_background;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $scrollbar_color;
  border-radius: 5px;

  &:hover {
    background: $scrollbar_highlight;
  }
}